<html>
    <head>
        
        <title><%=(locals.title) ? title :''%></title>
    
    </head>
    <body>
    
        <h2>JIHOON BACK OFFICE TEST PAGE<h2>
        <a href="http://localhost:4300/basePortfolios">Admin pages</a>
    </body>

</html>
